{% extends "base.html" %}
{% block title %}Customer SignUp{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        
    </style>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8 mt-5">
        <div class="card container-card mb-3 p-5" style="">
        <vault>

             <form id="signup-form" class="" action="" method="post" novalidate>
        <h1>User SignUp</h1>
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="mb-3">
            {{ form.email.label(class_="form-label") }}
            {{ form.email(class_="form-control") }}
            <small id="emailHelpId" class="form-text text-muted">Your Email won't be shared !</small>
        <div class="text-danger">
            {% if form.email.errors %}
                <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        </div>
        <div class="mb-3">
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control") }}
            <div class="text-danger">
            <div class="text-danger">
                {% if form.password.errors %}
                    <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label(class_="form-label") }}
            {{ form.confirm_password(class_="form-control") }}
            <div class="text-danger">
            <div class="text-danger">
                {% if form.confirm_password.errors %}
                    <ul class="errors">
                    {% for error in form.confirm_password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            </div>
        </div>
        <div class="mb-3">
            {{ form.first_name.label(class_="form-label") }}
            {{ form.first_name(class_="form-control") }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.first_name.errors %}
                        <ul class="errors">
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mb-3">
            {{ form.last_name.label(class_="form-label") }}
            {{ form.last_name(class_="form-control") }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.last_name.errors %}
                        <ul class="errors">
                        {% for error in form.last_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mb-3">
            {{ form.mobile.label(class_="form-label") }}
            {{ form.mobile(class_="form-control") }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.mobile.errors %}
                        <ul class="errors">
                        {% for error in form.mobile.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mb-3">
            {{ form.gender.label(class_="form-label") }}
            {{ form.gender(class_="form-select") }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.gender.errors %}
                        <ul class="errors">
                        {% for error in form.gender.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mb-3">
            {{ form.address.label(class_="form-label") }}
            {{ form.address(class_="form-control") }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.address.errors %}
                        <ul class="errors">
                        {% for error in form.address.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="mb-3">
            {{ form.credit_card_number.label(class_="form-label") }}
            {{ form.credit_card_number(class_="form-control",placeholder_='xxxxx-xxxxx-xxxxx') }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.credit_card_number.errors %}
                        <ul class="errors">
                        {% for error in form.credit_card_number.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="mb-3">
            {{ form.aadhaar_number.label(class_="form-label") }}
            {{ form.aadhaar_number(class_="form-control",placeholder_='xxxx-xxxx-xxxx') }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.aadhaar_number.errors %}
                        <ul class="errors">
                        {% for error in form.aadhaar_number.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="mb-3">
            {{ form.pancard_number.label(class_="form-label") }}
            {{ form.pancard_number(class_="form-control",placeholder_='xxxxxxxxxx') }}
            <div class="text-danger">
                <div class="text-danger">
                    {% if form.pancard_number.errors %}
                        <ul class="errors">
                        {% for error in form.pancard_number.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

        </vault>
    <div>
        Already have an account ? <span><a class="" href="{{url_for('user_login')}}">Login</a>.</span>
    </div>
        </div>
    </div>
</div>
{% endblock %}